---
layout: base
---

{% include header.html type="page" %}

<main class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}">
  <div class="row">
    <!-- <div class="{% if page.full-width %} col {% else %} col-xl-8 offset-xl-2 col-lg-10 offset-lg-1{% endif %}"> -->
    <div class="col">
      {% if page.before-content %}
        <div class="before-content">
          {% for file in page.before-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}

      <div id="toc-wrapper">
        <h2>Table of Contents</h2>
        <div id="table-of-contents">
          {{ content | toc_only }}
        </div>
      </div>
      <button id="toggle-toc" style="margin-bottom: 10px;">
        <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 24 24" width="20" fill="currentColor">
          <path d="M3 6h18M3 12h18M3 18h18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
      <div id="markdown-content">
        {{ content | inject_anchors }}
      </div>  
      
      
      {% if page.after-content %}
        <div class="after-content">
          {% for file in page.after-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}

      {% include comments.html %}
    </div>
  </div>
</main>
</div><script>
  document.addEventListener("DOMContentLoaded", () => {
    const tocButton = document.getElementById("toggle-toc");
    const tocWrapper = document.getElementById("toc-wrapper");
    const markdownContent = document.getElementById("markdown-content");

    tocButton.addEventListener("click", () => {
      if (tocWrapper.style.left === "0px") {
        tocWrapper.style.left = "-300px"; // Hide TOC
        markdownContent.style.marginLeft = "0"; // Reset content position
        tocButton.title = "Show TOC";
      } else {
        tocWrapper.style.left = "0px"; // Show TOC
        markdownContent.style.marginLeft = "300px"; // Shift content
        tocButton.title = "Hide TOC";
      }
    });
  });
</script>
